{{ define "main" }}

  {{ range $index, $elemen:= .Site.Data.portfolio.portfolioitems }}
    <div
      class="post {{ with .Site.Params.doNotLoadAnimations }}
        .

      {{ else }}
        animated fadeInDown

      {{ end }}"
    >
      <div class="post-content">
        <div class="post-title">
          <h2>{{ .title }}</h2>
        </div>

        {{ range $i, $p := .portfolioitem }}
          <div class="box-wrapper">
            <div
              class="box-image {{ if not (modBool $i 2) }}
                box-image--right

              {{ else }}
                box-image--left

              {{ end }}"
            >
              <a href="{{ .link }}">
                <img src="{{ .image | relURL }}" alt="{{ .name | markdownify }}" />
              </a>
            </div>
            <div
              class="box {{ if not (modBool $i 2) }}
                box--left

              {{ else }}
                box--right

              {{ end }}"
            >
              <h2>{{ .name | markdownify }}</h2>
              <div class="seperator">
                {{ range .tags }}
                  <p class="tag">{{ . }}</p>

                {{ end }}
              </div>
              <p>{{ .description | markdownify }}</p>
              <div class="cta">
                <a class="btn" href="{{ .link | safeURL }}" target="_blank">Visit Site</a>
              </div>
            </div>
          </div>

        {{ end }}
      </div>
    </div>

  {{ end }}


{{ end }}
