@charset "UTF-8";

blockquote {
  border-right: 0.25em solid var(--blockquote-border-color);
  border-left: inherit;
}

.tag,
.category {
  margin: 5px 0 5px 8px;
}

.info i {
  margin-left: 5px;
  margin-right: inherit;
}

.sidebar {
  right: 0;
  border-left: 1px solid var(--border-color);
  border-right: inherit;
}

.sidebar .social-links i {
  margin-left: 3px;
  margin-right: inherit;
}

.post .post-footer .info .separator a {
  margin-left: 0.2em;
  margin-right: inherit;
}
.post .post-footer .meta .info .date {
  margin-left: 10px;
  margin-right: 5px;
}

.post figure.right {
  float: left;
  margin-right: 1.5em;
  margin-left: inherit;
}
.post figure.left {
  float: right;
  margin-left: 1.5em;
  margin-right: inherit;
}

.info span {
  margin-left: 0.5em;
  margin-right: inherit;
}

.post .post-footer .meta i {
  margin-left: 6px;
  margin-right: inherit;
}

.post .post-footer .tags ul li {
  padding-left: 5px;
  padding-right: inherit;
}

.pagination .pre {
  float: right;
}
.pagination .next {
  float: left;
}

.list-with-title .listing .listing-post .post-time {
  float: left;
  text-align: left;
}

@media screen and (min-width: 960px), print {
  header {
    position: fixed;
    left: 0;
    right: auto;
  }
  header .nav__list li {
    padding-left: 20px;
  }
  header .nav__list li:not(:last-of-type) {
    padding-right: inherit;
  }
}

@media (min-width: 1921px) {
  .sidebar {
    padding-right: 17%;
    padding-left: 3%;
  }
  .content {
    padding-right: inherit;
    padding-left: 20%;
  }
}
