@use 'modules/color_theme' as color;

.body {
  width: 100%;
  margin: 0 auto;
  // work around to style body
  @include color.themed() {
    color: color.t('primary');
    background-color: color.t('accent');
  }
}
