.nav {
  display: none;

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;

    @include themed() {
      background-color: t('primary-lighter');
    }

    &-item {
      line-height: 2.5;
      padding: 0.5rem 0.75rem;
      text-transform: uppercase;
      text-align: center;
    }

    @include desktop {
      padding: 20px 30px;
    }
  }

  &__link {
    &--active {
      padding-bottom: 22px;

      @include desktop {
        @include themed() {
          border-bottom: 1px solid t('primary');
        }
      }
    }
  }

  &--active {
    display: block;
  }
}

@include desktop_and_print {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;

    &__list {
      display: flex;

      @include themed() {
        background-color: t('accent');
      }

      &-item {
        &:not(:last-child) {
          padding-right: 20px;
        }
      }

      &--end {
        flex-shrink: 1;
        justify-content: flex-end;
      }
    }
  }
}
