.nav {
  display: none;
  box-shadow: $shadow;

  &__list {
    margin: 0;
    list-style: none;
    background-color: $primary-lighter;
    width: 100%;

    &-item {
      line-height: 2.5;
      padding: 0.5rem 0.75rem;
      text-transform: uppercase;
      text-align: center;
    }

    @include desktop {
      padding: 20px 30px;
    }
  }

  &__link {
    &--active {
      @include desktop {
        border-bottom: 1px solid $primary;
        padding-bottom: 22px;
      }
    }
  }

  &--active {
    display: block;
  }
}

@include desktop_and_print {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;

    &__list {
      display: flex;
      background-color: $accent;

      &-item {
        &:not(:last-child) {
          padding-right: 20px;
        }
      }

      &--end {
        flex-shrink: 1;
        justify-content: flex-end;
      }
    }
  }
}
