{{- if (eq .Site.Params.oldContentWarning true) -}}
  {{- $ageDays := div (sub now.Unix .Date.Unix) 86400 -}}
  {{- $duration := .Site.Params.oldContentDuration -}}

  {{- $isPostSection := (eq .Type "post") -}}
  {{- if .Site.Params.postSectionName -}}
    {{- $isPostSection = or $isPostSection (eq .Type .Site.Params.postSectionName) -}}
  {{- end -}}
  {{- if .Site.Params.postSections -}}
    {{- $isPostSection = or $isPostSection (in .Site.Params.postSections .Type) -}}
  {{- end -}}
  {{- if not $isPostSection -}}
    {{- $duration = 0 -}}
  {{- end -}}

  {{- if (isset .Params "old_content_duration") -}}
    {{- $duration = .Params.old_content_duration -}}
  {{- end -}}

  {{- if and (gt $ageDays $duration) (ne $duration 0) -}}
    <div class="alert">
      <div class="alert__indicator">!</div>
      {{ i18n "old_content_warning" (dict "Count" $duration) }}
    </div>
  {{- end -}}

{{- end -}}
