<div
  class="page-top {{ with .Site.Params.doNotLoadAnimations }}
    .

  {{ else }}
    animated fadeInDown

  {{ end }}"
>
  <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <nav>
    <ul class="nav__list" id="navMenu">
      <div class="nav__links">
        {{ $url := .RelPermalink }}
        {{ range .Site.Menus.main }}
          {{ $active := eq $url .URL }}
          <li>
            <a
              {{ if $active }}
                class="current"

              {{ end }}
              href="{{ .URL }}"
              {{ if strings.HasPrefix .URL "http" }}
                target="_blank" rel="noopener noreferrer"

              {{ end }}
              title="{{ .Title }}"
              >{{ .Name }}</a
            >
          </li>

        {{ end }}
        <li>
          {{ if and .Site.IsMultiLingual }}
            <ul class="sl-nav" aria-label="Language switcher">
             
              <li>
                <input type="checkbox" id="languagepicker" aria-label="switch language" hidden></input>
                <label for="languagepicker"><strong>{{ .Site.Language.LanguageName }}</strong></label> <i class="fa fa-angle-down" aria-hidden="true"></i>

                <ul class="dropdown">
                  {{ range $.Translations }}

                    <li>
                      <a href="{{ .RelPermalink }}" title="{{ .Language.LanguageName }}"
                        ><span
                          {{ if eq . $.Site.Language }}
                            class="active"

                          {{ end }}
                          aria-label="{{ i18n "ariaLanguage" }}{{ .Language.LanguageName }}"
                          >{{ .Language.LanguageName }}</span
                        ></a
                      >
                    </li>

                  {{ end }}
                </ul>
              </li>
            </ul>

          {{ end }}
        </li>
      </div>
      <li>
        {{ if not .Site.Params.disableThemeSwitcher }}
          <a class="theme-switch" title="Switch Theme">
            <i class="fas fa-adjust fa-fw" aria-hidden="true"></i>
          </a>

        {{ end }}
      </li>
    </ul>
  </nav>
</div>
