.alert {
    padding: 1rem;
    border-style: solid;
    border-color:$alert;
    border-radius: 0.25rem;
    border-width: 2px;

    #indicator {
        background-color: $alert;
        display: inline-block;
        border-radius: 9999px;
        padding: 0.5rem;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        color: $accent;
        font-weight: 800;
        margin-right: 0.75rem;
      }
  }
  
