.archive {
  width: 100%;

  @include desktop_and_print {
    width: $content-width;
  }

  &__list {
    font-size: 1.4rem;
    margin: 30px;
    padding: 0;
    &-item {
      padding-bottom: 5px;
      list-style-type: none;
    }

    &-date {
      @include themed() {
        color: t('primary-light');
      }
      float: right;
      max-width: 10%;
      text-align: right;
    }
    &-title {
      @include themed() {
        color: t('primary');
      }
      width: 90%;
      display: inline-block;
      &:hover {
        @include themed() {
          color: t('info');
        }
      }
    }

    &-heading {
      @include themed() {
        color: t('primary');
      }
      font-size: 2.4rem;
      font-weight: 600;
      line-height: 2.2em;
    }
  }
}
