.archive {
  width: 100%;

  @include desktop_and_print {
    width: $content-width;
  }

  &__list {
    font-size: 1.4rem;
    margin: 30px;
    padding: 0;
    &-item {
      padding-bottom: 5px;
      list-style-type: none;
    }

    &-date {
      float: right;
      max-width: 10%;
      text-align: right;
      color: $primary-light;
    }
    &-title {
      color: $primary;
      width: 90%;
      display: inline-block;
      &:hover {
        color: $info;
      }
    }

    &-heading {
      font-size: 2.4rem;
      color: $primary;
      font-weight: 600;
      line-height: 2.2em;
    }
  }
}
