.category {
  padding: 4px 6px;
  border-radius: 3px;
  color: $tag-color !important;
  background-color: $primary-lighter;
  border: 1px solid $primary-light;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  margin: 5px 8px 5px 0;
}
