.category {
  padding: 4px 6px;
  border-radius: 2px;
  display: inline-block;
  font-size: 1.4rem;

  @include themed() {
    border: t('border');
    background-color: t('primary-lighter');
    color: t('primary') !important;
  }

  @include ltr {
    margin: 5px 8px 5px 0;
  }

  @include rtl {
    margin: 5px 0 5px 8px;
  }
}
