.info {
  margin: 1em;

  &__icon {
    opacity: 0.5;
    @include ltr {
      margin-right: 4px;
    }
    @include rtl {
      margin-left: 4px;
    }
  }

  &__text {
    &:not(:last-child) {
      @include ltr {
        margin-right: 4px;
      }
      @include rtl {
        margin-left: 4px;
      }
    }
  }
}
