.languageswitch {
  position: relative;

  &__label {
    cursor: pointer;
    white-space: nowrap;
  }

  &__list {
    display: none;
    list-style: none;
    padding: 0;
    position: relative;

    @include desktop {
      @include themed() {
        background: t(accent);
        border-color: t(primary);
        box-shadow: t(shadow);
      }
      border-radius: 5px;
      position: absolute;
      top: 40px;
    }

    &-item {
      @include themed() {
        color: t('primary');
      }
      background: transparent;
      display: block;
      line-height: 1;
      padding: 0.5rem 0.75rem 0.5rem 0;
      text-align: center;
      white-space: nowrap;

      @include desktop {
        padding: 1.2rem;
      }
    }
  }

  &__triangle {
    display: none;

    &::before {
      @include themed() {
        background: t('accent');
        box-shadow: t('shadow');
        border-color: t('primary');
      }
      content: '';
      border-radius: 2px 0px 0px 0px;
      height: 14px;
      bottom: 0px;
      left: calc(50% / 2);
      overflow: hidden;
      position: absolute;
      transform: rotate(45deg) translateY(0px) translatex(10px);
      width: 14px;
    }
  }

  &__picker {
    &:checked {
      ~ .languageswitch {
        &__list {
          display: block;
        }

        &__triangle {
          @include desktop {
            display: block;
          }
        }
      }
    }
  }
}
