.notice {
  display:  flex;
  flex-direction: column;

  @include themed() {
    background-color: t('notice-info');
  }

  &--update {

    @include themed() {
      background-color: t('notice-update');
    }
  }
  &--warning {

    @include themed() {
      background-color: t('notice-warning');
    }
  }

  &__title {
    background-color: rgb(96, 134, 180);
    align-self: flex-end;
    font-weight: 300;
    letter-spacing: 0.025em;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;

    @include themed() {
      color: t('accent');
    }

    &--update {
      background-color: rgb(81, 216, 138);
    }
    &--warning {
      background-color: rgb(239, 87, 83);
    }
  }

  &__content {
    max-width: 100%;
    margin: 0px 1.5rem auto auto;
    padding: 8px 8px 1rem 1rem;
  }
}
