@use 'modules/color_theme' as color;
@use 'sass:color' as sass;

.notice {
  display: flex;
  flex-direction: column;

  @include color.themed() {
    background-color: sass.mix(color.t('info'), color.t('accent'), 40%);
  }

  &--update {
    @include color.themed() {
      background-color: sass.mix(color.t('success'), color.t('accent'), 40%);
    }
  }

  &--warning {
    @include color.themed() {
      background-color: sass.mix(color.t('danger'), color.t('accent'), 40%);
    }
  }

  &__title {
    background-color: color.t('info');
    align-self: flex-end;
    font-weight: 300;
    letter-spacing: 0.025em;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;

    @include color.themed() {
      color: color.t('accent');
    }

    &--update {
      background-color: color.t('success');
    }

    &--warning {
      background-color: color.t('danger');
    }
  }

  &__content {
    padding: 8px 8px 1rem 1rem;
  }
}
