.portfolio {
  position: relative;
  z-index: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 48px;

  @include desktop_and_print {
    padding: 48px;
  }

  &::before {
    @include themed() {
      border: t('border');
    }
    content: '';
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    background: transparent;
    border-radius: 0.5em;
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.6rem;
    line-height: 1;
    font-weight: 600;
  }

  &__image {
    max-width: 100%;
    min-width: 100%;
    box-shadow: #000;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    object-fit: cover;
    border-bottom: 0px;
    display: block;

    &-wrapper {
      display: block;
      background-color: #fff;
      position: relative;
      z-index: 1;
      overflow: hidden;

      &--right,
      &--left {
        @include themed() {
          background-color: t('accent');
        }
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - 64px);
        z-index: -1;
        padding: 32px 32px 0px 32px;
        max-width: inherit;

        @include desktop_and_print {
          width: 60%;
          object-fit: contain;
          max-width: none;
          border-top-right-radius: 0.5em;
          border-top-left-radius: 0.5em;
          padding: 0;
        }
      }

      &--left {
        @include desktop_and_print {
          margin-right: auto;
          margin-left: 0;
          border-bottom-left-radius: 0.5em;
        }
      }

      &--right {
        @include desktop_and_print {
          margin-right: 0;
          margin-left: auto;
          border-bottom-right-radius: 0.5em;
        }
      }
    }
  }

  &__description {
    @include themed() {
      background-color: t('accent');
    }
    padding: 32px;
    @include desktop_and_print {
      @include themed() {
        box-shadow: t('shadow');
      }
      padding: 48px;
      border-radius: 0.5em;
    }

    &--left,
    &--right {
      @include themed() {
        border-bottom: t('border');
      }
      margin-top: -24px;

      @include desktop_and_print {
        @include themed() {
          background: t('primary-lighter');
        }
        border-bottom: 0px;
        width: 60%;
        margin-top: -48px;
        z-index: 3;
      }
    }

    &--right {
      @include desktop_and_print {
        margin-left: auto;
      }
    }
  }

  &__button {
    @include themed() {
      border: 1px solid t('primary-light');
      color: t('info');
    }
    font-weight: 400;
    display: inline-block;
    position: relative;
    outline: 0;
    background: transparent;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font-style: normal;
    border-radius: 999em;
    padding: 10px;

    &:hover {
      @include themed() {
        border: 1px solid t('primary');
      }
      display: inline-block;
      position: relative;
      outline: 0px;
      background: transparent;
      font-size: 1.4rem;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      white-space: nowrap;
      font-weight: 400;
      font-style: normal;
      border-radius: 999em;
    }

    &-wrapper {
      padding-bottom: 1em;
    }
  }
}
