.post {
  background-color: $accent;
  margin: 30px;

  &-wrapper {
    width: 100%;

    @media screen and (min-width: 961px), print {
      width: $content-width;
    }
  }

  &__more {
    font-size: 1.4rem;
  }

  &__thumbnail {
    width: 100%;
    height: $thumbnail-height;
    object-fit: cover;
    display: block;

    &-wrapper {
      border-radius: 0.5em;
      width: 100%;
      margin-bottom: 1em;
      box-shadow: $shadow;
      overflow: hidden;
      transition: box-shadow 0.3s ease;
    }
  }

  &__content {
    h1 {
      text-transform: uppercase;
      font-size: 3em;
      letter-spacing: 1px;
      line-height: 1;
    }

    h2 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 2.6rem;
      line-height: 1;
      font-weight: 600;
    }

    h3 {
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1;
      font-weight: 600;
      font-size: 2.2rem;
    }

    ul,
    ol {
      line-height: 1.9em;
      font-weight: 400;
      font-size: 1.4rem;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
    }

    figure {
      max-width: 100%;
      height: auto;
      margin: 0;
      text-align: center;

      &.big {
        max-width: 100vw;
      }

      &.right {
        @include desktop {
          float: right;
          margin-left: 1.5em;
          max-width: 50%;
        }
      }

      &.left {
        @include desktop {
          float: left;
          margin-right: 1.5em;
          max-width: 50%;
        }
      }
    }
  }

  &__footer {
    border-bottom: $border;
    font-size: 1.2rem;
    padding: 12px 0;

    &-date {
      margin-right: 10px;
      margin-left: 5px;
    }
  }
}
