.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    &__input {
        width: 60%;
        max-width: 400px;
        padding: 10px;
        font-size: 1em;
        border: 1px solid;
        border-radius: 5px;
        background-color: transparent;
        outline: none;
        transition: border-color 0.3s ease, background-color 0.3s ease;

        @include themed() {
            caret-color: t('primary');
            color: t('primary');
            border-color: t('primary-lighter')
        }

        &::placeholder {
            font-style: italic;

            @include themed() {
                color: t('primary');
            }
        }

        &:focus {
            @include themed() {
                border-color: t('border');
                background-color: t('primary-lighter');
            }
        }
    }

    &__button {
        padding: 10px;
        font-size: 1em;
        border: none;
        background: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;

        @include themed() {
            color: t('primary');
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}