.sidebar {
  -webkit-background-size: cover;
  background-size: cover;
  background-color: var(--bg-color);
  margin-top: 40px;

  @include desktop_and_print {
    z-index: 2;
    position: fixed;
    height: 100%;
    margin-top: 0;
    width: $sidebar-width;
    display: flex;
    flex-direction: column;

    @include themed() {
      border-right: t('border');
    }
  }

  @include widescreen {
    padding-left: 17%;
    padding-right: 3%;
    width: calc(var(--sidebar-width) - 20%);
  }

  &__content {
    @include desktop_and_print {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    font-size: 1.4rem;
    text-align: center;

    &-item {
      display: inline;
      padding: 0 4px;
      line-height: 0;

      i {
        margin-right: 3px;
      }

      li {
        display: inline;
        padding: 0 4px;
        line-height: 0;
      }
    }
  }

  &__title {
    top: 40%;
    text-align: center;

    &-description {
      font-size: 1.4rem;
      margin: 0 1em;
    }

    img {
      width: 127px;
      height: 127px;
      border-radius: 50%;
    }

    h3 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 1;
      margin: 1em;
    }
  }
}
